* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffe05d;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ff9642;
    min-height: 10vh;
}

.logged {
    color: #d9e4dd;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width:auto;
}

.nav-links li {
    list-style: none;
    margin: 10px;
}

.nav-links li:hover{
        background-color: deepskyblue;
        border-radius: 0.5vh;

}

.tabActive.active {
    background-color: deepskyblue;
    padding: 21px;
}

.nav-links a {
        color: #d9e4dd;
        text-decoration: none;
        letter-spacing: 2px;
}

.mobile-button {
    display: none;
    cursor: pointer;
}

.mobile-button div {
    width: 25px;
    height: 2px;
    background-color: whitesmoke;
    margin: 5px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px auto;
    color: white;
}

table {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 12px 0 rgba(32,32,32,.8);
}

th, td {
    padding: 10px 12px;
}

th {
    background-color: #85603f;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #f4c983;
}

.modalBtn {
    background-color: grey;
    color:white;
    border: 0;
    cursor: pointer;
}

.modalBtn:hover{
    background-color:deepskyblue;
}

.modal{
    display:none;
    position:fixed;
    z-index:3;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.3);
    
}

.content{

    background-color:black;
    padding: 5px;
    margin:20% auto;
    width:20%;
    
}

.content-body {
    padding: 20px 20px;
    background-color: #e7d9ea;
}

.closeBtn{

    color:black;
    float:right;
    font-size:40px;
}

.closeBtn:hover, .closeBtn:focus{
    color:red;
    text-decoration:none;
    cursor:pointer;
}

.heading h2{
    margin:auto;
}
.heading {
    background-color: #a9294f;
    padding:15px;
    color: black;
}

/*Tablet Responsiveness*/
@media screen and (max-width:768px) {

 body {
        overflow-x: hidden;
}

.tabActive.active {
        padding: 15px;
}

table {
        top: 57%;
        width: 700px;
}

h1{

    margin:50px;
}
}


/*Mobile responsiveness*/
@media screen and (max-width:425px) {
body {
    overflow-x: hidden;
}

 .tabActive.active {
    padding: 17px;
}

 table{

     width:380px;
 }
.nav-links {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}


.mobile-button {
     display: block;
}
}

.nav-active {
     transform: translateX(0%);
 }
