* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffe05d;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ff9642;
    min-height: 10vh;
}

.logged {
    color: #d9e4dd;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
 }

.nav-links li:hover
 {
        background-color: deepskyblue;
}

.tabActive.active {
    background-color: deepskyblue;
    padding: 21px;
}

.nav-links a {
    color: #d9e4dd;
    text-decoration: none;
    letter-spacing: 2px;

}

.mobile-button {
    display: none;
    cursor: pointer;
}

.mobile-button div {
     width: 25px;
     height: 2px;
     background-color: whitesmoke;
     margin: 5px;
}

h1{
    text-align:center;
    font-size:50px;
    margin: 30px auto;
    color:white;
}

form{

    margin:20px auto;
    width: 350px;
}

input{
    padding:10px;
    font-size:inherit;
}

input[type=text]{
    display:block;
    margin-bottom:25px;
    width:100%;
    border:2px solid black;
}

input[type=email] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
}

input[type=submit]{

    width:150px;
    height:45px;
    border:2px solid black;
    background-color:limegreen;
    color:white;
    cursor:pointer;
}

input[type=reset] {
     width: 150px;
     height: 45px;
     border: 2px solid black;
     background-color:red;
     color: white;
     cursor:pointer;
     margin:8px;
}

input[type=date] {
        display: block;
        margin-bottom: 25px;
        width: 100%;
        border: 2px solid black;
}

select {
    display: block;
    margin-bottom: 25px;
    height:35px;
    width: 100%;
    border: 2px solid black;
}

@media screen and (max-width:1024px) {
 .nav-links {
        width: 50%;
        margin:15px;

}

.nav-links li{
        margin:5px;
}

}

@media screen and (max-width:580px) {
body {
    overflow-x: hidden;
}

.nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
   
}


 .mobile-button {
        display: block;
}

}

.nav-active {
    transform: translateX(0%);
}




