*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}

body{

    background-color:khaki;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:coral;
    min-height: 10vh;
}

.logged{
    
    color : whitesmoke;
    text-transform : uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links{

    display:flex;
    justify-content: space-around;
    width: 35%;
    
}
.nav-links li{
    list-style: none;
    margin:10px;
        
}

.nav-links li:hover {
 background-color:deepskyblue;
 border-radius:0.5vh;
}

.nav-links a {
   color: whitesmoke;
   text-decoration:none;
   letter-spacing: 2px;
  
   
}
.mobile-button{

    display:none;
    cursor:pointer;
}
.mobile-button div{

    width: 25px;
    height: 2px;
    background-color:whitesmoke;
    margin:5px;
}

.wrap{
    width:1000px;
    margin:auto;
    margin-top:100px;
    
}

.card{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    width:250px;
    background:#fff;
    text-align:center;
    float:left;
    margin:30px;
}
.card a {
     border: none;
     padding: 3px;
     display: inline-block;
     color: white;
     background-color: grey;
     width: 50%;
     border-radius: 20px;
     cursor: pointer;
     text-align: center;
     text-decoration:none;
}

.card a:hover {
        background-color: crimson;
        border-radius: 1vh;
 }


@media screen and (max-width:1024px){
body{

    overflow-x:hidden;
}

    .nav-links {
        
        width: 50%;
    }

}

@media screen and (max-width:768px) {
 body{
        overflow-x:hidden;
 }

 .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        background-color: coral;
        display:flex;
        flex-direction:column;
        align-items:center;
        width:25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
 }
 

 .mobile-button{
     display:block;

 }

 .wrap{

     display:flex;
     flex-direction:column;
     margin:40px;
     padding-left:40px;
 }

 

}

.nav-active {
    transform: translateX(0%);
}