* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ffe05d;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ff9642;
    min-height: 10vh;
}

.logged {
    color: #d9e4dd;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: auto;
}

.nav-links li {
    list-style: none;
    margin: 10px;

}

.nav-links li:hover {
        background-color: deepskyblue;
 }

.tabActive.active {
    background-color: deepskyblue;
    padding: 21px;
}

.nav-links a {
    color: #d9e4dd;
    text-decoration: none;
    letter-spacing: 2px;
}

.mobile-button {
    display: none;
    cursor: pointer;
}

.mobile-button div {
    width: 25px;
    height: 2px;
    background-color: whitesmoke;
    margin: 5px;

}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px auto;
    color: white;
}

table {

   position:absolute;
   left:50%;
   top:55%;
   transform:translate(-50%,-50%);
   width:80%;
   border-collapse:collapse;
   border-spacing:0;
   border-radius: 12px 12px 0 0;
   overflow:hidden;
   background-color:white;
   text-align:center;
   box-shadow: 0 2px 12px 0 rgba(32,32,32,.8); 
   
}

th,td{
    padding: 10px  12px;
}

th {
    background-color: #85603f;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #f4c983;
}

.paging {
    width: auto;
    position: fixed;
    right: 60%;
    top: 85%;
   
}
.paging ul {
    position: relative;
    background-color: white;
    display: flex;
    padding: 5px 10px;
    border-radius: 30px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.8);
}

.paging  li {
    list-style:none;
    line-height:40px;
    margin: 0 5px;
}


.paging li.pageNumber{

    width:50px;
    text-align:center;
  
}

.paging  li a{

    display:block;
    text-decoration:none;
    color:gray;
    font-weight:500;
    border-radius: 5vh;
}

.paging li.pageNumber:hover a,
.paging li.pageNumber.active a {
        background-color: deepskyblue;
        color: white;
 }

.paging li:first-child{

    margin-left:20px;
    font-weight:600;
    font-size:20px;
    
}

.paging li:last-child {
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
}

/*Table Responsiveness*/
@media screen and (max-width:768px) {

body {
        overflow-x: hidden;
 }

.tabActive.active {
        padding: 15px;
}

table{

    top:57%;
    width:700px;
}

.paging ul {
        right: -80px;
        top:35px;
        padding: 0.5px 4px;
      
}
 .paging li:first-child {
       
     font-size: 15px;
}

.paging li:last-child {
       
     
  font-size: 15px;
}

h1{

  margin:10px;
}

}

/*Mobile Responsiveness*/
@media screen and (max-width:450px) {
 body {
    overflow-x: hidden;
 }

 .tabActive.active {
        padding: 13px;
}
.nav-links {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.paging ul {
        right: -150px;
        top:-12vh;
        
       
}


 .mobile-button {
   display: block;
 }

.wrap {
   display: flex;
   flex-direction: column;
   margin: 40px;
   padding-left: 40px;
}

 table {
        top:60vh;
        width: 380px;
}



}

    .nav-active {
        transform: translateX(0%);
    }
