* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: khaki;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: coral;
    min-height: 10vh;
}

.logged {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
    margin: 10px;

}

.nav-links li:hover {

    background-color: deepskyblue;
    border-radius: 0.5vh;
}

.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
}

.mobile-button {
    display: none;
    cursor: pointer;
}

.mobile-button div {
    width: 25px;
    height: 2px;
    background-color: whitesmoke;
    margin: 5px;

}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 30px auto;
    color: cadetblue;
}

table {

   position:absolute;
   z-index: 2;
   left:50%;
   top:50%;
   transform:translate(-50%,-50%);
   width:60%;
   border-collapse:collapse;
   border-spacing:0;
   border-radius: 12px 12px 0 0;
   overflow:hidden;
   background-color:white;
   text-align:center;
   box-shadow: 0 2px 12px 0 rgba(32,32,32,.8); 
   margin:15px;
}

th,td{

    padding: 10px  12px;
}

th{

    background-color:blue;
    color: white;
    text-transform:uppercase;
}

tr:nth-child(odd){
    background-color: gray;
}





@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:580px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 10vh;
        background-color: coral;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .mobile-button {
        display: block;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        margin: 40px;
        padding-left: 40px;
    }

}

.nav-active {
    transform: translateX(0%);
}
